* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: rgb(188, 236, 255);
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
}
.container {
  height: 72vmin;
  width: 68vmin;
  display: flex;
  flex-direction: column;
  background-color: #293447;
  border-radius: 5px;
}

.play-details {
  color: #b8c6dc;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
  padding: 20px 27px;
}

.play-board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  background: #212837;
  border-radius: 5px;
}

.play-board .food {
    background: red;
}
.play-board .head {
    background: rgb(34, 189, 250);
}
.controls {
  display: flex;
  justify-content: space-between;
}

.controls i {
  text-align: center;
  width: calc(100% /4);
  border-right: 1px solid black;
  padding: 15px;
  cursor: pointer;
  color: #b8c6dc;
}
 
.gameover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 800;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
